.About{
    background-color: rgb(192, 240, 247);
    
    padding-top: 100px;
     
}
.cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
body{
margin: 0;
text-align: center;
font-family:Arial,sans-serif;

}
.cloud2{
    position: absolute;
    left: 250px;
    bottom: 300;

}
.Heading{
    font-family: sacramento,cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF; 
    
}
h2{
    font-family: montserrat,sans-serif; 
    font-size:2.5rem ;
    color: #66BFBF; 
    font-weight: normal;

}
h3{
    font-family: montserrat,sans-serif;
    color: #11999E;
}
.DP{
    width: 300px;
    margin-top: 80px;
}
   
.skill-row{
    width: 50%;
    margin:100px auto 100px auto ;
    text-align: left;
    line-height: 2;

}
.skillimg{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.code{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height: 5;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
    
    background-color:#66BFBF;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom:  45px; ;
    
  }
  .footer-link{
    color:11999E;
    margin: 50px 20px 80px 20px;
    text-decoration: solid;
  }
  .footer-link:hover{
    color: #EAF6F6;
  }

  .Creator{
    color:EAF6F6 ;
    margin-top:20px ;
    padding-top: 10px;
    font-size: 0.75rem;
  }
  .contact-des{
   width: 40%;
   margin: 40px auto 60px;
  }
  hr{
    width: 05%;
    border-style: none;
    border-top-style: dotted;
    border-color:#8d9292;
    border-width: 5px;
    margin: 100px auto;
  }
  .middle-container{
   background-color: #d1e2e2
   ;
  }
  .self{
    width: 50%;
    margin: auto;
    line-height: 2;
  }
  .devoloper{
    border-radius: 100px;
    width: 50%;
    margin: 50px auto 50px auto;
  }
  nav{
    background-color: #045b5e;
    height: 10%;
    
  }
  .icon{
    width: 5%;
    float: left;
    
    margin-top: 20px;
    margin-left: 20px;
    
  }
  .brand{
    display: inline-block;
    color: #2bc4ad;
    font-family: sacramento,cursive;
    font-size: 30px;
    text-align: center;
    

  }
  
